.section-featured-products.has-section-title.section
  .featured-products-container.container
    .featured-products-section-title.section-title
      h2.section-heading!= products.title
    .featured-products-list.featured-products-row-of-4
      each product in products.products
        article.featured-products-item
          a(href="#").featured-products-link
            figure.featured-products-image
              img(src='/assets/img/' + product.img) 
          .featured-products-details
            h6.featured-products-caption.caption= product.vendor
            h4.featured-products-title.title= product.name 
            //- .reviews
            .featured-products-price 
              span.price-default!=(product.price === 0 ? 'Free' : '$' + product.price)
              span.price-sale!=(product.sale === 0 ? 'Free' : '$' + product.sale)

